.signup-body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("../img/signup.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  padding: 40px 35px;
  color: #fff;
  animation: fadeIn 0.8s ease-in-out;
}

.signup-card h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  color: #fff;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8)   ;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(119, 102, 102, 0.25);
  color: #fcfcfc;
  font-size: 1rem;
  transition: 0.3s ease;
}

.input-group input::placeholder {
  color: #cfcfcf;
}

.input-group input:focus {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px rgba(116, 116, 116, 0.25);
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 12px;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  color: #ffd27d;
  transition: 0.3s;
}

.toggle-password:hover {
  transform: scale(1.15);
  color: #fff;
}

.btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #ff5f6d, #ffc371);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn:hover {
  background: linear-gradient(135deg, #ffc371, #ff5f6d);
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(255, 200, 130, 0.4);
}

.login-link {
  margin-top: 20px;
  font-size: 0.9rem;
}

.login-link a {
  color: #ffd27d;
  text-decoration: none;
  transition: 0.3s;
}

.login-link a:hover {
  color: #fff;
  text-shadow: 0 0 5px #ffc371;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
